@import url("https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700");
@import "tailwindcss";

@theme {
    --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";
@source "../../app/View/Components/**/**/*.php";
@source "../../app/Livewire/**/**/*.php";
@source "../../app/Enums/**/*.php";

/* Dark theme variant support */
@custom-variant dark (&:where(.dark, .dark *));

/* Laravel 12 defaults */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

x-cloak {
    display: hidden;
}

/* Your styles goes here ... */

/* custom form outline */
.input,
.select,
.textarea {
    &:focus,
    &:focus-within {
        @apply !outline-offset-0 !outline-1;
    }
}

.input:has(:read-only),
.textarea:has(:read-only) {
    @apply border-solid bg-base-200;
}

/* fix scrollbar flickering on chromium family */
:root {
    scrollbar-color: #aeaeaf #0000 !important;
}

:root {
    &:where(.dark, .dark *) {
        scrollbar-color: #656e74 #0000 !important;
    }
}

.table thead th,
.table tfoot th {
    @apply !text-xs;
}

.table {
    @apply !static;
}

.table details.dropdown {
    @apply !static;
}

/* mary pagination */
.mary-table-pagination {
    button,
    span {
        @apply text-sm;
    }

    button {
        @apply cursor-pointer;
    }

    button:hover {
        @apply bg-gray-100;
    }

    span[aria-current="page"] > span {
        @apply bg-base-content/10;
    }

    button,
    span[aria-current="page"] > span,
    span[aria-disabled="true"] span {
        @apply py-1 px-2;
    }
}

/* EasyMDE */

.EasyMDEContainer .CodeMirror * {
    @apply text-sm;
}
&:where(.dark, .dark *) {
    .EasyMDEContainer .editor-toolbar {
        @apply border-gray-600;
    }

    .EasyMDEContainer .CodeMirror {
        @apply bg-base-100 text-base-content border-gray-600;
    }

    .EasyMDEContainer .CodeMirror-cursor {
        @apply border border-b-base-100;
    }

    .EasyMDEContainer .editor-toolbar > button:hover,
    .EasyMDEContainer .editor-toolbar > .active {
        @apply bg-base-100 text-base-content;
    }
}

.filepond--credits {
    display: none;
}
